{% include 'base.html' %}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-5">
                  
                  <h2 class="fw-bold mb-1 text-uppercase">Update Note</h2>
                 <form method='post' action="/update-note/{{form_data.id}}">
                    {% csrf_token %}
                    <div class="form-outline form-black mb-4">
                        <input type="text" id="title" value="{{form_data.title}}" name="title" class="form-control form-control-lg" maxlength='100' required/>
                        <label class="form-label" for="title">title</label>
                    </div>
        
                    <div class="form-outline form-black mb-4">
                        <textarea id="content" name="content" rows="5" class="form-control form-control-lg" maxlength='1000' required>{{form_data.content}}</textarea>
                        <label class="form-label" for="content">content</label>
                    </div>

                    <div class="form-outline form-black mb-4">
                        <input type="datetime-local" value="{{form_data.due_date|date:'Y-m-d\TH:i:s'}}" id="due_date" name="due_date" class="form-control form-control-lg" required/>
                        <label class="form-label" for="due_date">due date</label>
                    </div>
                    <a href="{% url 'index' %}"><button class="btn btn-dark btn-lg px-5" type="submit" value="OK">Update</button></a>
                </form>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </div>
</section>